<html lang="en">
  <head>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>

    <body>
    <div class="main-content">
      {{>header}}
      <p>This website uses data from mapbox.com and weatherstack.com.</p>
      <br>
      <img class="portrait" src="./img/avatar2.png" />
    </div>
    

     {{>footer}}
  </body>
</html>