<html lang="en">
  <head>
    <title>Weather</title>
    <link rel="icon" href="/web-server/public/img/cloudSun.svg" />
    <link rel="stylesheet" href="./css/styles.css" />

  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <p>Your weather updates right here!</p>
      <form>
        <input type="text" placeholder="Location">
        <button>Search</button>
      </form>

      <p id="msg-1"></p>
      <p id="msg-2"></p>

    </div>
    
    
     {{>footer}}
  </body>
    <script src="./js/app.js"></script>
</html>